*
{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: poppins;
   
}
nav{
   
    height: 55px;
    background: rgb(151, 24, 119);
    padding: 0px;
    margin: 0px;
} 
.name
{
    position: absolute;
    width: 50px;
    top: 1.5%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-left: 7%;
}
nav ul
{
    float: right;
    margin-right: 15px;
    margin:0 100px ;
    font-family: monospace;
color: white;
font-size: 25px;
line-height: 130%;
}
nav ul li

{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
nav ul li a
{
    position: center;
    padding: 5px 0;
    color: red;
    font-size: 18px;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}
section
{
    position: absolute;
    color: darkred;
    font-family: cursive;
}